{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Mickey O'Neil</h1>
        <p>

            You need to keep trying...

        </p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/FotoPerfilFake.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}